statemachine/mars_image_pipeline.asl.json
{
  "StartAt": "FetchImagesFunction",
  "States": {
    "FetchImagesFunction": {
      "Type": "Task",
      "Resource": "${FetchImagesFunctionArn}",
      "Next": "ProcessImages"
    },
    "ProcessImages": {
      "Type": "Map",
      "Iterator": {
        "StartAt": "ProcessMetadataFunction",
        "States": {
          "ProcessMetadataFunction": {
            "Type": "Task",
            "Resource": "${ProcessMetadataFunctionArn}",
            "Next": "StoreMetadataInS3"
          },
          "GenerateEmbeddingsFunction": {
            "Type": "Task",
            "Resource": "${GenerateEmbeddingsFunctionArn}",
            "Next": "GenerateEmbedding"
          }
        }
      }
    },
    "Record Transaction": {
      "Type": "Task",
      "Resource": "${DDBPutItem}",
      "Parameters": {
        "TableName": "${DDBTable}",
        "Item": {
          "Id": {
            "S.$": "$.id"
          },
          "Type": {
            "S.$": "$.type"
          },
          "Price": {
            "N.$": "$.price"
          },
          "Quantity": {
            "N.$": "$.qty"
          },
          "Timestamp": {
            "S.$": "$.timestamp"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "IntervalSeconds": 20,
            "MaxAttempts": 5,
            "BackoffRate": 10
          }
        ],
        "End": true
      }
    }
  }
}