statemachine/mars_image_pipeline.asl.json
{
  "Comment": "An example of the Amazon States Language using a choice state.",
  "StartAt": "Fetch Mars Images",
  "States": {
    "Fetch Mars Images": {
      "Type": "Task",
      "Resource": "${FetchImagesFunctionArn}",
      "Parameters": {
        "earth_date.$": "$.earth_date"
      },
      "ResultPath": "$.fetch_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 15,
          "MaxAttempts": 1,
          "BackoffRate": 1.5
        }
      ],
      "Next": "Process Mars Image Metadata"
    },
    "Process Mars Image Metadata": {
      "Type": "Task",
      "Resource": "${ProcessMetadataFunctionArn}",
      "Parameters": {
        "earth_date.$": "$.earth_date",
        "fetch_result.$": "$.fetch_result"
      },
      "ResultPath": "$.process_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 1,
          "BackoffRate": 1
        }
      ],
      "Next": "Generate Mars Image Embedding"
    },
    "Generate Mars Image Embedding": {
      "Type": "Task",
      "Resource": "${GenerateEmbeddingsFunctionArn}",
      "Parameters": {
        "earth_date.$": "$.earth_date",
        "process_result.$": "$.process_result"
      },
      "ResultPath": "$.embedding_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 1,
          "BackoffRate": 1
        }
      ],
      "End": true
    }
  }
}
